# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB</span>

Table Name: annual\_2016 Columns:

- id: smallint
- series\_id: nvarchar(50)
- year: smallint
- period: nvarchar(50)
- value: float
- footnote\_codes: nvarchar(1)
- original\_file: nvarchar(100)

Table Name: footnote Columns:

- footnot\_code: nvarchar(50)
- footnote\_text: nvarchar(100)

Table Name: supersector Columns:

- supersector\_code: tinyint
- supersector\_name: nvarchar(50)

Table Name: series Columns:

- series\_id: nvarchar(50)
- supersector\_code: bigint
- industry\_code: nvarchar(50)
- series\_title: nvarchar(100)

Table Name: seasonal Columns:

- series\_id: nvarchar(50)
- industry\_code: nvarchar(50)
- seasonal\_text: nvarchar(50)
- data\_type\_code: bigint
- seasonal: nvarchar(50)

Table Name: datatype Columns:

- data\_type\_code: tinyint
- data\_type\_text: nvarchar(100)

Table Name: period Columns:

- period\_code: nvarchar(50)
- period\_abbr: nvarchar(50)

Table Name: industry Columns:

- id: smallint
- industry\_code: bigint
- naics\_code: nvarchar(50)
- publishing\_status: nvarchar(50)
- industry\_name: nvarchar(100)
- display\_level: float
- selectable: nvarchar(50)
- sort\_sequence: float

Connections between tables:

- The "annual\_2016" table is connected to the "footnote" table through the "footnote\_codes" column.
- The "annual\_2016" table is connected to the "supersector" table through the "supersector\_code" column.
- The "annual\_2016" table is connected to the "series" table through the "series\_id" column.
- The "series" table is connected to the "seasonal" table through the "series\_id" column.
- The "series" table is connected to the "supersector" table through the "supersector\_code" column.
- The "series" table is connected to the "industry" table through the "industry\_code" column.
- The "seasonal" table is connected to the "datatype" table through the "data\_type\_code" column.
- The "period" table is not directly connected to any other table based on the provided information.
- The "industry" table is not directly connected to any other table based on the provided information.

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

In [6]:
</https://github.com/ams048/Assignment3_9to5/blob/main/Blank%20diagram.png>

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near '<'.

In [7]:
USE LaborStatisticsDB
SELECT TOP 10 * FROM annual_2016;
SELECT * FROM datatype;

id,series_id,year,period,value,footnote_codes,original_file
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
5,CEU5500000034,2016,M13,111.6,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
6,CEU5500000035,2016,M13,179.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
7,CEU5500000081,2016,M13,236997,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
8,CEU5500000082,2016,M13,6189003,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
9,CEU5552200007,2016,M13,37.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

data_type_code,data_type_text
1,ALL EMPLOYEES
2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
4,AVERAGE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
9,AVERAGE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
10,WOMEN EMPLOYEES
11,AVERAGE WEEKLY EARNINGS OF ALL EMPLOYEES
12,AVERAGE WEEKLY EARNINGS OF ALL EMPLOYEES
13,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
15,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
16,INDEXES OF AGGREGATE WEEKLY HOURS OF ALL EMPLOYEES
17,INDEXES OF AGGREGATE WEEKLY PAYROLLS OF ALL EMPLOYEES
19,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
20,AVERAGE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
21,DIFFUSION INDEXES
22,DIFFUSION INDEXES
23,DIFFUSION INDEXES
24,DIFFUSION INDEXES
25,ALL EMPLOYEES
26,ALL EMPLOYEES
30,AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
31,AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
32,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
33,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
34,INDEXES OF AGGREGATE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
35,INDEXES OF AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
36,AVERAGE WEEKLY HOURS
37,AVERAGE WEEKLY OVERTIME HOURS
38,PRODUCTION AND NONSUPERVISORY EMPLOYEES-TO-ALL EMPLOYEES RATIO
39,WOMEN EMPLOYEES-TO-ALL EMPLOYEES RATIO
56,AGGREGATE WEEKLY HOURS OF ALL EMPLOYEES
57,AGGREGATE WEEKLY PAYROLLS OF ALL EMPLOYEES
58,AGGREGATE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
81,AGGREGATE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
82,AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
83,AGGREGATE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
86,1-MONTH CONFIDENCE INTERVAL
87,3-MONTH CONFIDENCE INTERVAL
88,6-MONTH CONFIDENCE INTERVAL
89,12-MONTH CONFIDENCE INTERVAL
98,CPI-U 1982-84
99,CPI-W 1982-84

In [ ]:
--instead of drawing a picture, my first step was to explore the database using Azure's built-in tools
--i ran a few queries by right clicking the tables and pressing "select top 1000" to see what the data looked liked

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees? 10 women employees and 39 women employees to all employees ratio</span>

In [5]:
USE LaborStatisticsDB

SELECT *
FROM datatype
WHERE data_type_text LIKE '%women%'

data_type_code,data_type_text
10,WOMEN EMPLOYEES
39,WOMEN EMPLOYEES-TO-ALL EMPLOYEES RATIO

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector? </span> <span style="font-size: 13.3333px; white-space: pre-wrap;">CES5552211010</span>

In [16]:
SELECT *--series_id, series_title
FROM LaborStatisticsDB.dbo.series
WHERE series_title = 'women employees' and industry_code=55522110


SELECT *--industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_name = 'Commercial Banking' and industry_code=55522110

SELECT *
FROM LaborStatisticsDB.dbo.supersector
WHERE supersector_name = 'Financial Activities'

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES5552211010,55,55522110,10,S,Women employees
CEU5552211010,55,55522110,10,U,Women employees

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
563,55522110,52211,A,Commercial banking,6,T,564

supersector_code,supersector_name
55,Financial activities

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [4]:
SELECT TOP 50 a.id, a.series_id, a.year, a.period, a.value, a.footnote_codes, a.original_file
FROM LaborStatisticsDB.dbo.annual_2016 AS a
JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE a.year = 2016;

id,series_id,year,period,value,footnote_codes,original_file
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
5,CEU5500000034,2016,M13,111.6,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
6,CEU5500000035,2016,M13,179.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
7,CEU5500000081,2016,M13,236997,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
8,CEU5500000082,2016,M13,6189003,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
9,CEU5552200007,2016,M13,37.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
10,CEU5552200008,2016,M13,22.37,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
11,CEU5552200030,2016,M13,833.43,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
12,CEU5552200031,2016,M13,356.05,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
13,CEU5552200032,2016,M13,9.56,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
14,CEU5552200034,2016,M13,104.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
15,CEU5552200035,2016,M13,162.5,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
16,CEU5552200081,2016,M13,73459,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
17,CEU5552200082,2016,M13,1643184,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
18,CEU5552210007,2016,M13,37,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
19,CEU5552210008,2016,M13,20.25,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
20,CEU5552210030,2016,M13,749.49,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
21,CEU5552210031,2016,M13,320.19,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
22,CEU5552210032,2016,M13,8.65,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
23,CEU5552210034,2016,M13,101.8,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
24,CEU5552210035,2016,M13,161.7,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
25,CEU5552210081,2016,M13,46102,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
26,CEU5552210082,2016,M13,933434,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
27,CEU5552211007,2016,M13,37.1,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
28,CEU5552211008,2016,M13,20.35,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
29,CEU5552211030,2016,M13,754.09,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
30,CEU5552211031,2016,M13,322.16,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
31,CEU5552211032,2016,M13,8.69,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
32,CEU5552211034,2016,M13,106.8,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
33,CEU5552211035,2016,M13,173.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
34,CEU5552211081,2016,M13,35082,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
35,CEU5552211082,2016,M13,713870,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
36,CEU5552212007,2016,M13,36.4,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
37,CEU5552212008,2016,M13,20.53,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
38,CEU5552212030,2016,M13,746.56,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
39,CEU5552212031,2016,M13,318.94,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
40,CEU5552212032,2016,M13,8.77,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
41,CEU5552212034,2016,M13,52.4,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
42,CEU5552212035,2016,M13,79,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
43,CEU5552212081,2016,M13,3299,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
44,CEU5552212082,2016,M13,67744,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
45,CEU5552219007,2016,M13,37.1,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
46,CEU5552219008,2016,M13,19.66,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
47,CEU5552219030,2016,M13,730.09,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
48,CEU5552219031,2016,M13,311.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
49,CEU5552219032,2016,M13,8.4,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [8]:
WITH CTE AS (
    SELECT s.series_id
    FROM LaborStatisticsDB.dbo.series AS s
    JOIN LaborStatisticsDB.dbo.industry AS i ON i.industry_code = s.industry_code
    JOIN LaborStatisticsDB.dbo.supersector AS ss ON ss.supersector_code = s.supersector_code
    WHERE i.industry_name = 'Commercial Banking'
        AND ss.supersector_name = 'Financial Activities'
        AND s.series_title = 'Women employees'
)
SELECT TOP 10 *
FROM CTE
JOIN LaborStatisticsDB.dbo.series AS s ON CTE.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.datatype AS d ON s.data_type_code = d.data_type_code;

series_id,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,data_type_code,data_type_text
CES5552211010,CES5552211010,55,55522110,10,S,Women employees,10,WOMEN EMPLOYEES
CEU5552211010,CEU5552211010,55,55522110,10,U,Women employees,10,WOMEN EMPLOYEES

In [6]:
-- SELECT TOP 10 *
-- FROM LaborStatisticsDB.dbo.series AS s
-- JOIN LaborStatisticsDB.dbo.datatype AS d
-- ON s.data_type_code = d.data_type_code;

In [19]:
-- SELECT series_id
-- FROM LaborStatisticsDB.dbo.series
-- WHERE data_type_code = 10 and industry_code = 55522110 and supersector_code = 55;

series_id
CES5552211010
CEU5552211010

In [14]:
-- SELECT series_id FROM LaborStatisticsDB.dbo.series s
-- JOIN LaborStatisticsDB.dbo.industry i ON i.industry_code = s.industry_code
-- JOIN LaborStatisticsDB.dbo.supersector ss ON ss.supersector_code = s.supersector_code
-- WHERE i.industry_name = 'Commercial Banking' 
--     and ss.supersector_name = 'Financial Activities' 
--     and s.series_title = 'Women employees'

series_id
CES5552211010
CEU5552211010

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [10]:
SELECT top 10 *
FROM LaborStatisticsDB.dbo.series as s
JOIN LaborStatisticsDB.dbo.industry as i
ON s.industry_code = i.industry_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
CES0000000001,0,00000000,1,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000010,0,00000000,10,S,Women employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000025,0,00000000,25,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000026,0,00000000,26,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0500000001,5,05000000,1,S,All employees,1,5000000,-,A,Total private,1,T,2
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please. </span> <span style="font-size: 13.3333px; white-space: pre-wrap;">2351408916</span>

In [12]:
SELECT ROUND(SUM(p.value), 0) AS total_employees
FROM LaborStatisticsDB.dbo.annual_2016 AS p
WHERE p.year = '2016';

total_employees
2351408916

In [11]:
-- SELECT ROUND(sum(p.value), 0) AS total_employees
-- FROM LaborStatisticsDB.dbo.annual_2016 AS p
-- INNER JOIN LaborStatisticsDB.dbo.series AS s
-- ON p.series_id = s.series_id
-- WHERE s.data_type_code = '1'-- AND p.year = '2016'

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; </span>  <span style="font-size: 13.3333px; white-space: pre-wrap;">1125490</span>

In [16]:
SELECT ROUND(SUM(value), 0) AS women_empl
FROM LaborStatisticsDB.dbo.annual_2016
WHERE year = '2016' AND series_id IN (
    SELECT series_id
    FROM LaborStatisticsDB.dbo.series
    WHERE series_title = 'Women employees'
);

women_empl
1125490

In [17]:
-- SELECT ROUND(SUM(p.value), 0) AS women_empl
-- FROM LaborStatisticsDB.dbo.annual_2016 AS p
-- INNER JOIN LaborStatisticsDB.dbo.series AS s
-- ON p.series_id = s.series_id
-- WHERE s.data_type_code = '10' AND p.year = '2016'

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp; </span>  <span style="font-size: 13.3333px; white-space: pre-wrap;">1263650</span>

In [18]:
SELECT ROUND(SUM(value), 0) AS production_nonsupervisory_emp
FROM LaborStatisticsDB.dbo.annual_2016
WHERE year = '2016' AND series_id IN (
    SELECT series_id
    FROM LaborStatisticsDB.dbo.series
    WHERE data_type_code = '6'
);

production_nonsupervisory_emp
1263650

In [22]:
--SELECT ROUND(SUM(p.value), 0) AS  production_nonsupervisory_emp
--FROM LaborStatisticsDB.dbo.annual_2016 AS p
--INNER JOIN LaborStatisticsDB.dbo.series AS s
--ON p.series_id = s.series_id
--WHERE s.data_type_code = '6' AND p.year = '2016'

production_nonsupervisory_emp
1263650

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries? 36</span>

In [22]:
--SELECT ROUND(AVG(value), 0) AS average_weekly_hours
--FROM LaborStatisticsDB.dbo.january_2017
--WHERE series_id IN (
--    SELECT series_id
--    FROM LaborStatisticsDB.dbo.series
--    WHERE series_title = 'Average weekly hours (production and nonsupervisory)'
--);
--now I am getting null as the answer, not 36 as below.
--going back to the other way that I did it since the answer is correct.

average_weekly_hours
NULL

In [23]:
SELECT ROUND(AVG(p.value), 0) AS average_weekly_hours
FROM LaborStatisticsDB.dbo.january_2017 AS p
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
WHERE s.data_type_code = '7'

average_weekly_hours
36

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please. </span> <span style="font-size: 13.3333px; white-space: pre-wrap;">48405.34</span>

In [24]:
 SELECT ROUND(SUM(p.value) , 2) as weekly_payroll
 FROM LaborStatisticsDB.dbo.january_2017 AS p
  WHERE p.series_id LIKE '%08'

weekly_payroll
48405.34

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? </span> <span style="font-size: 13.3333px; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Motor vehicle power train components 49.6 </span> Which industry was the lowest? <span style="font-size: 14px;">Fitness and recreational sports centers<span style="white-space:pre"> </span>16.85</span>

In [25]:
--highest
SELECT top 10 i.industry_name, AVG(j.value) AS avg_weekly_hours
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '7'
AND j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_hours DESC

--lowest
SELECT top 10 i.industry_name, AVG(j.value) AS avg_weekly_hours
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '7' AND j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_hours ASC

industry_name,avg_weekly_hours
Motor vehicle power train components,49.6
Support activities for mining,47.2
Support activities for oil and gas operations,46.7
Motor vehicle metal stamping,46.699999999999996
Coal mining,46.6
Oil and gas pipeline construction,46.1
Mining,46.025
Boilers,45.7
Crushed and broken limestone mining,45.7
Mining and logging,45.65

industry_name,avg_weekly_hours
Fitness and recreational sports centers,16.85
Civic and social organizations,18.3
Family clothing stores,18.8
Women's clothing stores,18.8
Skiing facilities,19.3
Clothing stores,19.6
Bowling centers,20.2
Clothing accessories stores,21.2
Clothing and clothing accessories stores,21.3
Drinking places,21.35

7. <span style="background-color: rgb(255, 255, 255);"><font color="#666666" face="Arvo, serif"><span style="font-size: 10pt; white-space: pre-wrap;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? </span><span style="font-size: 13.3333px; white-space: pre-wrap;">General freight trucking 17855.840000000004 </span><span style="font-size: 10pt; white-space: pre-wrap;">Which industry was the lowest? </span></font></span> <span style="font-size: 13.3333px; white-space: pre-wrap;">Bowling centers 938.5</span>

In [26]:
SELECT top 10 i.industry_name, sum(j.value) AS total_weekly_payroll
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '30' 
GROUP BY i.industry_name
ORDER BY total_weekly_payroll DESC;


SELECT top 10 i.industry_name, SUM(j.value) AS total_weekly_payroll
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '30' 
GROUP BY i.industry_name
ORDER BY total_weekly_payroll ASC;

industry_name,total_weekly_payroll
NULL,119157.21999999994
General freight trucking,17855.840000000004
Mining,10143.14
Motor vehicles,8459.12
Industrial machinery,8203.98
Offices of physicians,8150.080000000001
Chemicals,7983.68
Durable goods,7556.379999999999
Other specialized trucking,7545.920000000001
Reinsurance carriers,7242.34

industry_name,total_weekly_payroll
Bowling centers,938.5
Family clothing stores,975.5799999999999
Fitness and recreational sports centers,979.26
Women's clothing stores,982.9200000000001
Limited-service restaurants,1009.42
Clothing stores,1032.52
Snack and nonalcoholic beverage bars,1043.6399999999999
Cafeterias,1088.74
Civic and social organizations,1093.1
Gift,1102.02

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [27]:
SELECT top 10 s.series_id, i.industry_code, i.industry_name, j.[value]
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE j.value> (select avg(a.value)
     FROM LaborStatisticsDB.dbo.annual_2016 AS a
     JOIN LaborStatisticsDB.dbo.series AS s 
     ON a.series_id = s.series_id
     where s.data_type_code = '82') 
order by j.value desc

series_id,industry_code,industry_name,value
CES0500000057,5000000,Total private,110301694
CES0500000057,5000000,Total private,110301694
CEU0500000057,5000000,Total private,109731861
CEU0500000057,5000000,Total private,109731861
CEU0800000057,8000000,Private service-providing,88446140
CEU0800000057,8000000,Private service-providing,88446140
CES0800000057,8000000,Private service-providing,88280865
CES0800000057,8000000,Private service-providing,88280865
CES0500000082,5000000,Total private,74498171
CES0500000082,5000000,Total private,74498171

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

In [28]:
SELECT round(AVG(value), 2) AS avg_weekly_earning, [year], j.period
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
where data_type_code = '30'
group by [year], j.[period]

UNION

SELECT round(AVG(value), 2) AS avg_weekly_earning, [year], p.period
FROM  LaborStatisticsDB.dbo.annual_2016 AS p
JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
where data_type_code = '30'
group by [year], p.[period]

avg_weekly_earning,year,period
797.2,2016,M13
808.53,2017,M01

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

<span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space: pre-wrap; background-color: rgb(247, 247, 248);">M01 (January 2017), production and nonsupervisory employees had a more favorable outcome or experienced better conditions compared to other periods or employee categories.</span>

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Production and nonsupervisory employees fared better in the following industries:

1. Total private: 8 entries
2. Private service-providing: 8 entries
3. Professional and business services: 4 entries
4. Goods-producing: 2 entries
5. Trade: 3 entries

These industries showed higher earnings or more favorable conditions for production and nonsupervisory employees based on the top 25 earning entries.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

The data we have for the 9 to 5 project has some issues that make it challenging to understand. There is a lot of information that doesn't seem to be relevant or useful. For example, there is a category called 'NULL' where we don't know what kind of work people are doing, but they are getting paid.

Another problem is that we need more clarification on what we mean by "fared best." I assumed it meant looking at how much people are paid, but it could also mean considering the balance between work and personal life, like how many hours people work. To explore this, I looked at the "Total Private" industry, which seems to be doing well in terms of earnings. On the surface, it looks like people in this industry are paid decently and work fewer hours. But we don't know if they have good benefits, like healthcare or vacation time, because the number of hours they work might not be enough to qualify for those benefits.

To make better comparisons, it would be more helpful to look at data from both 2016 and 2017, instead of just one month in 2017. One month is not enough to get an accurate picture. It would also be great if we had a table that combined all the data from different sources so we could see everything together and make better sense of it.

In summary, we need more clarification on what "faring best" means, and it would be helpful to have data from multiple years and a table that puts everything together.